*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    /*Colors*/
    --body-color:#E4E9F7;
    --sidebar-color:#FFF;
    --button-color:#695CFE;
    --header-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --nav-color:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;
    --label-color: #adadad;
    /*Transitions*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    /* background: linear-gradient(180deg, #121261 , #003c59); */
    background: var(--body-color);
    height: 100vh;
    display: grid;
    grid-template-rows: 84px 85vh;
    grid-template-columns: auto;
    transition: var(--tran-03);
}

.header{
    display: flex;
    background: var(--header-color);
    justify-content: space-between;
    padding: 5px 5%;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/-1;
}
.logo img{
  height: 75px;
  width: auto;
  transition: all .5s;
  cursor: pointer;
}
.header .logo img:hover{
    transform: scale(1.1);/*efecto junto a transition para agrandar un objetivo*/
}
.nav-links li{
    display: inline-block;
    transition: all 0.5s;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
}
.header .nav-links li:hover{
    transform: scale(1.2);
}
.nav-links li a:hover{
    color: var(--nav-color);
}
.main{
    grid-row: 2/3;
    grid-column: 1/-1;
}
/*  */

.pageContainer{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 200px 60vh;
}

#menu {
  background-color: var(--primary-color-light);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/3;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu li {
  margin-bottom: 10px;
}

#menu a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section {
  flex: 1;
  padding: 20px;
  align-self: center;
  justify-self: center;
}

.section h2 {
  margin-top: 0;
}

.section #form1 {
  grid-column: 2/-1;
  grid-row: 1/2;
  align-content: center;
  justify-items: center;
}

.section #form2 {
  grid-column: 2/-1;
  grid-row: 2/3;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.form-container {
  width: 700px;
}

.form-section {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-section h3 {
  margin-top: 0;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-input {
  flex: 1;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-input input, .form-input select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s;
}

.form-input input:focus, .form-input select:focus {
  border-color: #3498db;
}

.form-input label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: color 0.3s;
}


.form-container .opciones > label {
  position: relative;
  top: 5px;
  font-size: 16px;
  user-select: none;
}

.form-container .opciones select {
  height: 40px;
  width: 325px;
  border: none;
  border-bottom: 2px solid #adadad ;
  background: none;
  outline: none;
  transition: border-bottom-color 0.3s;
}



.form-inputs .inputs {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.form-container label {
  font-size: 14px;
  color: var(--label-color);
  transition: color 0.3s;
}


/*  */


/*  */

body.dark{
    transition: var(--tran-03);
}
.darkmodeswitch{
    position: relative;
    top: 475px;
    left: 5px;
    width: 210px;
    height: 55px;
    grid-row: 2/3;
    grid-column: 1/-1;
}
.mode{
    background: var(--primary-color-light);
    /* position: relative; */
    border-radius: 6px;
    transition: var(--tran-05);
    display: grid;
    grid-template-columns: 30px 110px 50px;
    grid-template-rows: 50px;
    width: 190px;
}
.mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/-1;
}
.mode-text{
    grid-column: 2/3;
    grid-row: 1/-1;
    display: grid;
    place-content: center;
    color: var(--text-color);
}

.mode i{
    margin-left: 11px;
    position: absolute;
    transition: var(--tran-03);
    font-size: 20px;
} 
.mode i.sun{
    opacity: 0;
}
body.dark .mode i.moon{
    opacity: 0;
}
body.dark .mode i.sun{
    opacity: 1;
} .mode .toggle-switch{
    grid-column: 3/-1;
    grid-row: 1/-1;
    display: grid;
    place-content: center;
    height: 100%;
    right: 0;
    min-width: 60px;
    /* background: #695CFE; */
    cursor: pointer;
    /* position: absolute; */
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}
.darkmodeswitch .mode .toggle-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 0;
    min-width: 60px;
    /* background: #695CFE; */
    cursor: pointer;
    /* position: absolute; */
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}
.darkmodeswitch .toggle-switch .switch{
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
}
.darkmodeswitch .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}
body.dark .switch::before{
    left: 24px;

}
body.dark .main .vinculacion .vinculacionButton h2{
    text-align: center;
    color: var(--text-color);
}
body.dark .main .vinculacion .vinculacionButton i.bxs-customize{
    font-size: 50px;
    color: #0e6d74;
}
body.dark .main .vinculacion .vinculacionButton:hover{
    transform: scale(1.04);
    box-shadow: #0e6d74a9 0px 10px 36px 0px;
    transition: var(--tran-02);
}
body.dark .main .vinculacion .vinculacionButton{
    background: #1b2740;
    box-shadow: #0e6d7441 0px 8px 20px 0px;
}
body.dark{
    /*Colors*/
    --body-color:#0d1320;
    --sidebar-color:#262426;
    --nav-color:#F6F5FF;
    --primary-color-light:#1b2740;
    --header-color:#0e6d74;
    --button-color: #0e6d74;
    --toggle-color:#FFF;
    --text-color:#CCC;
    --label-color: #adadad;
}
body.dark .section h2 {
  color: var(--text-color);
}
body.dark #menu a {
  color: var(--text-color);
}
/*  */